<footer class="border-t border-gray-800 py-10 text-sm text-gray-400 bg-gray-950/60">
  <div
    class="max-w-6xl mx-auto px-6 flex flex-col sm:flex-row items-center justify-between gap-4"
  >
    <div>
      © {new Date().getFullYear()} BaulaCoach. All rights reserved.
    </div>
    <div class="flex gap-4">
      <a href="/politicas/privacidad" class="hover:text-white">Privacy</a>
      <a href="/politicas/terminos" class="hover:text-white">Terms</a>
      <a href="https://twitter.com/yourhandle" class="hover:text-white"
        >Twitter</a
      >
    </div>
  </div>
</footer>
